html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

 /* GLOBAL STYLES */
      
        h1 {
            color: white;
            text-align: center;
            font-family: helvetica;
            font-size: 7vw;
            margin-top: 0;
        }
        a {
            color: #f00
        }
        p {
          line-height: 1.5;
          margin: 0.75em 0;
        }
        /* HEADER STYLES */
        .header {
          background-color: black;
          color: black;
          height: 80px;
          position: relative;
          width: 100%;
        }
        .header-nav {
          text-align: center;
          font-family: 'Quicksand', sans-serif;
          list-style-type: none;
          padding: 5vh 30px 0 0;
        }
        .header-nav > li {
          display: inline-block;
          margin-left: 1em;
        }
        .header-nav > li:first-child a {
          color: #ed6e2f;
        }
        .header-nav > li:first-child a:hover {
          color: #000;
        }
        .header-nav > li ~ li {
          border-left: 1px solid black;
          padding-left: 1em;
        }
        .header-nav a {
          color: white;
          font-size: 1rem;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
        }
        .header-nav a:hover,
        .header-nav a:active {
             color: #ed6e2f;
        }
        /* HERO STYLES */
        .full-hero {
            background-color: #C3D7FF;
            background-size: cover;
            box-sizing: border-box;
            height: 110vh;
            padding-bottom: 20vh;
        }
        .full-hero:after {
          bottom: 2vh;
          color: #fff;
          content: "﹀";
          font-size: 36px;
          left: 50%;
          position: absolute;
          transform: translate(-50%, 0);
        }
        .full-hero:after {
          bottom: 2vh;
          border: 10px solid;
          border-color: #fff transparent transparent;
          content: "";
          height: 0;
          left: 50%;
          position: absolute;
          transform: translate(-50%, 0);
          width: 0;
        }
        .hero-home {
          background-image: url(/images/joshua_tree.jpg);
          background-position: center center;
        }
        .hero-content {
          position: relative;
          text-align: center;
          text-transform: uppercase;
          top: 50%;
          transform: translate(0, -50%);
        }
        .hero-content h1 {
          color: rgba(255, 255, 255, 0.8);
          font-size: 6vw;
          margin-bottom: 0.25em;
          font-family: 'Eczar', serif;
        }
        .hero-content .page-link {
          background-color: rgba(255, 255, 255, 0.6);
          color: #557c83;
        }
        .hero-content .page-link:hover {
          background-color: #000;
          color: #fff;
        }
        /* HOMEPAGE STYLES */
        .home-callout {
          display: flex;
          align-items: center;
          background-color: #000;
          color: #fff;
          padding: 7vh 0;
        }
        .home-callout h3 {
          color: inherit;
          margin-top: 1em;
        }
        .callout-title {
          font-family: 'Zilla Slab Highlight', cursive;
          flex-grow: 1;
          flex-basis: 0;
          font-size: 5.75vw;
          text-align: right;
          text-transform: uppercase;
        }
        .callout-copy {
          font-family: 'Open Sans', sans-serif;
          flex-shrink: 0;
          flex-basis: 45em;
          padding: 0 2vw;
          font-size: 1rem;
        }
        
        /* PAGE LINKS */
        .page-list {
            list-style: none;
            text-align: center;
        }
        .page-list > li {
            display: inline-block;
            margin-left: 0.5em;
        }
        .page-link {
            background: rgba(150, 150, 150, 0.5);
            border-radius: 200px;
            box-sizing: border-box;
            color: white;
            display: inline-block;
            font-family: helvetica;
            font-size: 1rem;
            font-weight: bold;
            height: 2em
            line-height: 1;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            width: 4em;
        }
      