<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}
    
    <div class="full-hero hero home">
	    <h1>111 Pages, 111 Days</h1>
        <ul class="page-list">
            <li>
                <a href="http://example.com" class="page-link">Day 1</a>
            </li>
            <li>
                <a href="http://example.com" class="page-link">Day 2</a>
            </li>
            <li>
                <a href="http://example.com" class="page-link">Day 3</a>
            </li>
            </ul>
</body>

</html>