<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">


<head>
<title>Conrad Knapp</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Eczar|Open+Sans:400i|Quicksand|Zilla+Slab+Highlight" rel="stylesheet">
</head>

<body>

  <header class="header">
    <nav>
      <ul class="header-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>

    <a href="/" class="header-logo"></a>

  </header>

	    <h1>111 Pages, 111 Days</h1>
        <ul class="page-list">
            <li>
                <a href="http://example.com" target="_blank" class="page-link">Day 1</a>
            </li>
        </ul>
      </div>
    </div>

    <div class="home-callout">
      <h1 class="callout-title">Idea Behind The Project</h1>
      <div class="callout-copy">
       </div>

    <footer>
      Nothing yet. 2017
    </footer>


</body>

</html>
